@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
.top-text {
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.service-contact .service-contact-container, .main-servicios .service-box, .box-icons-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-mod {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* --FUENTE-- */
/* --RESET-- */
* {
  margin: 0;
  padding: 0;
}

/* --BODY-- */
.container-body {
  font-family: "Poppins", sans-serif;
}

/* --HEADER- */
/* --navbar- */
.nav-bg {
  background-color: #d1d1d1;
  box-shadow: 10px 2px 10px 10px #243242;
}

.nav-link-mod {
  text-decoration: none;
  display: block;
  padding: 0.4rem 0.8rem;
  color: #154776;
  letter-spacing: 0.2rem;
  font-size: 16px;
}
.nav-link-mod:hover {
  background-color: #2E6FF2;
  color: #F2F2F2;
}

/*--Link activo--*/
.link-active {
  color: #2E6FF2;
}

/*--Logo--*/
.navbar-brand-mod {
  text-decoration: none;
  display: block;
  padding: 0.4rem 0.8rem;
  color: #154776;
  letter-spacing: 0.1rem;
  font-size: 16px;
  text-decoration: none;
}
.navbar-brand-mod:hover {
  background-color: #2E6FF2;
  color: #F2F2F2;
}

/* -Texto en borde azul-- */
.border-blue {
  border: 4px double #2E6FF2;
  padding: 3%;
  margin: 10%;
}
.border-blue .head-title {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.1rem;
  margin: 3% 0% 3% 0%;
  word-wrap: break-word;
}
.border-blue .head-text {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 5%;
  word-wrap: break-word;
}

/* --INDEX-- */
/* --Imagen Header--*/
.header-index {
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/ciudad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

/* --Texto Header--*/
.hero-text {
  color: #F2F2F2;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.hero-h {
  font-weight: 600;
  font-size: 36px;
  margin-top: 15%;
}

.hero-text {
  font-weight: 400;
  font-size: 26px;
}

/* --Main--*/
.main-index {
  margin: 10% 5% 10% 5%;
}

/* --Texto El Estudio y texto Global--*/
.estudio {
  margin-bottom: 10%;
}

.main-title {
  color: #154776;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 22px;
}

.main-text {
  color: #154776;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 16px;
}

.line {
  display: inline-block;
  position: relative;
  margin: 5% 0 10% 0;
}

.line::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #2E6FF2;
}

.line::before {
  bottom: -20px;
}

/* --Cajas-- */
.section-boxes {
  margin: 10% 0 10% 0;
}

.row-modified {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* --Formato Cajas-- */
.box {
  padding: 3%;
  margin: 3%;
  border-radius: 30px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

/*--Iconos Cajas--*/
.box-icons-flex {
  margin: 2%;
}
.box-icons-flex .box-icon {
  color: #2E6FF2;
  font-size: 48px;
  margin: 10%;
  text-align: center;
}

/*--Texto Cajas--*/
.box-text {
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #154776;
  font-size: 16px;
  margin-bottom: 20%;
}

/* --Qué nos diferencia-- */
.section-different {
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/novedades.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  margin-bottom: 10%;
}
.section-different .title-different {
  color: #F2F2F2;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 3%;
}
.section-different .text-different {
  color: #F2F2F2;
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-bottom: 2%;
}

/* --ABOGADOS-- */
/* --Img-Header- */
.header-abogados {
  box-shadow: 2px 2px 2px 2px #1d2550;
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/equipo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

/* --Imágenes y textos de abogados-- */
.main-abogados {
  margin: 5%;
}

.staff {
  margin: 5%;
}

.staff-title {
  color: #154776;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5%;
}

.staff-text {
  margin: 5% 0 5% 0;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #154776;
  font-size: 16px;
}

/* --Envío CV-- */
.section-CV {
  background-image: radial-gradient(#120e25, rgba(29, 37, 80, 0.8)), url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 10%;
  padding: 5%;
}
.section-CV .mail-title {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 3%;
}
.section-CV .mail-text {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

/* --Formulario envío CV-- */
.form-CV {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-color {
  background-color: #2E6FF2;
  color: #F2F2F2;
}
.btn-color:hover {
  transform: scale(1.3);
  all: 2s;
}

/* --SERVICIOS--*/
/* --Header Img- */
.header-servicios {
  box-shadow: 2px 2px 2px 2px #1d2550;
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/servicios.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40rem;
}

/* --Enfoque multidisciplinario- */
.service-section {
  margin: 5%;
}

.enfoque-title {
  color: #154776;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 700;
  font-size: 22px;
}

.enfoque-text {
  color: #154776;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 16px;
}

/* --Lista de Servicios- */
.main-servicios {
  margin: 5% 5% 10% 5%;
}
.main-servicios .service-box {
  margin: 5%;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 5%;
  height: 100%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.02);
}

.service-icon {
  font-size: 36px;
  color: #2E6FF2;
  margin-bottom: 10%;
}

.service-title {
  font-size: 22px;
  color: #154776;
  font-weight: 600;
}

.service-text {
  font-size: 16px;
  color: #154776;
}

/* --Servicios- Contáctenos-- */
.service-contact {
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8%;
  margin-bottom: 5%;
}
.service-contact .service-contact-container {
  margin: 2%;
}
.service-contact .service-contact-container .service-contact-text {
  margin-bottom: 3%;
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 22px;
}

/* --Servicios- Contáctenos Botón-- */
.service-contact-icon {
  color: #2E6FF2;
  font-size: 80px;
}
.service-contact-icon:hover {
  transform: scale(1.3);
  all: 2s;
}

/* --NOVEDADES- */
/* --Img-Header- */
.header-novedades {
  box-shadow: 2px 2px 2px 2px #1d2550;
  background-image: linear-gradient(rgba(29, 37, 80, 0.8), #120e25), url("../images/libros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

/* --Main- */
.main-novedades {
  margin: 10%;
}

.img-size {
  max-height: 70%;
  width: 100%;
}

/* --tarjetas de noticias-- */
.card-style {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2%;
  height: 100%;
}
.card-style:hover {
  box-shadow: 0 28px 36px 0 rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
}

.card-link {
  text-decoration: none;
}

/* --Texto tarjeta de noticias--*/
.card-top {
  font-size: 16px;
  color: #2E6FF2;
  font-weight: 600;
  letter-spacing: 0.2rem;
  background-color: #d1d1d1;
  margin: 2% 0 5% 0;
}

.card-title {
  font-size: 16px;
  text-align: center;
  color: #154776;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  margin: 5%;
}

/*--Section envío NL-- */
.section-NL {
  background-image: radial-gradient(#120e25, rgba(29, 37, 80, 0.8)), url("../images/newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 10%;
  padding: 5% 3% 3% 3%;
}

/*--Newsletter-- */
.nl-title {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 22px;
}

.nl-text {
  color: #F2F2F2;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

/*--botón envío mail- */
.form-nl {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-control {
  max-width: 300px;
}

.btn-color {
  background-color: #2E6FF2;
  color: #F2F2F2;
}

/* --NOTICIAS-- */
.main-noticia {
  margin: 5%;
}

/* --Texto arriba-- */
.top-text {
  margin: 5%;
  color: #2E6FF2;
  font-size: 16px;
  margin: 5%;
}

/* --Título noticia-- */
.news-title {
  color: #120e25;
  font-size: 36px;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 1000;
  line-height: 3rem;
  margin: 5%;
}

/* --Copete-- */
.news-foot {
  margin: 5%;
  color: #1d2550;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* Botón compartir */
.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5%;
}

.share-btn {
  --btn-color: #275efe;
  position: relative;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #F2F2F2;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.share-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.share-btn span,
.share-btn span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.share-btn span {
  transition-delay: 0.05s;
}

.share-btn span:first-child {
  padding-right: 7px;
}

.share-btn span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.share-btn ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.share-btn ul li {
  flex: 1;
}

.share-btn ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.share.btn:hover::before {
  transform: scale(1.2);
}

.share-btn:hover span,
.share-btn:hover span span {
  transform: translateY(-55px);
}

.share-btn:hover ul li a {
  transform: translateY(0);
}

.share-btn:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.share-btn:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.share-btn:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.share-icon {
  color: #F2F2F2;
}

/* --Texto noticia-- */
.news-text {
  margin: 5%;
  color: #120e25;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* --Imagen noticia-- */
.news-img {
  display: block;
  margin: auto;
  width: 90%;
  height: 30%;
}

/* --Botón atrás-- */
.back-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 10%;
  font-size: 48px;
  color: #2E6FF2;
}
.back-button:hover {
  transform: scale(1.2);
}

.btn-back {
  text-decoration: none;
}

/* --CONTACTO-- */
.bg-contact {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/email-pattern.png");
  background-attachment: fixed;
}

.main-contacto {
  margin: 5%;
}

/* --Formulario- */
.contact-text {
  color: #154776;
  font-size: 22px;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  word-wrap: break-word;
}

input {
  border-color: #F2F2F2;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  border-radius: 15px;
}
input:hover {
  border-color: #2E6FF2;
}

textarea {
  height: 200px;
  border-color: #F2F2F2;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  border-radius: 15px;
}
textarea:hover {
  border-color: #2E6FF2;
}

/* --botón-- */
.contact-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 38px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #F2F2F2;
  background-color: #2E6FF2;
  font-size: 22px;
  letter-spacing: 0.2rem;
  transition: all 0.15s linear;
}
.contact-button:hover {
  background-color: rgba(29, 201, 160, 0.08);
  border-color: #2E6FF2;
  color: #2E6FF2;
  transform: translateY(-5px) scale(1.03);
}

/* --FOOTER-- */
.bg-footer {
  background-color: #d1d1d1;
  color: #154776;
  font-size: 16px;
}

.text-link {
  text-decoration: none;
  color: #154776;
}
.text-link:hover {
  color: #2E6FF2;
}

.footer-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.iframe-map {
  width: 80%;
  height: 80%;
}

.copy {
  text-align: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
