/* --ABOGADOS-- */

/* --Img-Header- */
.header-abogados{
    box-shadow: 2px 2px 2px 2px nth($bg-color, 1);
    background-image: linear-gradient((rgba(29, 37, 80, 0.8)),rgb(18, 14, 37)), url("../images/equipo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40rem;}

/* --Imágenes y textos de abogados-- */
.main-abogados{
    margin:5%}

.row-mod{
    @extend %row }
    
.staff{
    margin:5%}

.staff-title{
    @include text-center;
    color: $texto-color;
    font-size: map-get($font-size, "big");
    font-weight: bold;
    margin-bottom: 2%}
    
.staff-text{
    margin-top: 5%;
    @include text-justify;
    color: $texto-color;
    font-size: map-get($font-size, "medium");}

/* --Envío CV-- */
.mail-title{
    color: $texto-blanco;
    @include text-center;
    font-weight:bold;
    font-size: map-get($font-size, "big" )}    

.mail-text{
    color: $texto-blanco;
    @include text-center;
    font-weight:500;
    font-size: map-get($font-size, "medium" )}

.section-CV{
    background-image:radial-gradient(rgb(18, 14, 37), rgba(29, 37, 80, 0.8)), url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 5%;}
    
.form-CV{
    display: flex;
    justify-content: center;
    align-items: flex-end;}
    
.btn-color{
    background-color: nth($bg-color, 2);
    color: $texto-blanco;
    &:hover{
    transform: scale(1.3); all: 2s;}}
