/* --CONTACTO-- */

.bg-contact{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/email-pattern.png");
    background-attachment: fixed;}

.main-contacto{
    margin: 5%;}

/* --Formulario- */
.contact-text{
    color: $texto-color;
    font-size: map-get($font-size, "big");
    @include text-center;
    font-weight: bold;
    word-wrap: break-word;}

input{
    border-color: nth($bg-color, 4);
    padding: 1rem;
    display: block;
    width: 100%;
    margin-top: 1em;
    resize: none;
    border-radius: 15px;
    &:hover{
        border-color: nth($bg-color, 2);}}

textarea {
     height: 200px;
     border-color: nth($bg-color, 4);
     padding: 1rem;
     display: block;
     width: 100%;
     margin-top: 1em;
     resize: none;
     border-radius: 15px;
     &:hover{
         border-color: nth($bg-color, 2);}}


/* --botón-- */
         
.contact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: $texto-blanco;
    background-color: nth($bg-color, 2);
    font-size: map-get($font-size, "big");
    letter-spacing: 0.2rem;
    transition: all 0.15s linear;
    &:hover{
        background-color: rgba(29, 201, 160, 0.08);
        border-color: nth($bg-color, 2);
        color: nth($bg-color, 2);
        transform: translateY(-5px) scale(1.03);}}
        