/* --FOOTER-- */

.bg-footer{
  background-color: nth($bg-color, 3 );
  color: $texto-color;
  font-size: map-get($font-size, "medium");}
  
.text-link{
  text-decoration: none;
  color: $texto-color;
  &:hover{
    color: nth($bg-color, 2);}}

.iframe-map{
  width: 80%;
  height: 80%;
}
  
.copy{
  text-align: center;
  font-size: map-get($font-size, "small")}
