/* --RESET-- */
*{
    margin: 0;
    padding: 0;}

/* --FUENTE-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto+Serif:wght@200&display=swap');

.container-body{
    font-family: 'Poppins', sans-serif;}

/* --HEADER- */
/* --navbar- */

/* --Color del Nav--*/
.nav-bg{
    background-color: nth($bg-color, 1)}

/*--Logo--*/
.navbar-brand-mod {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    $font-size: map-get($font-size, "medium" );
    color:$texto-blanco;
    text-decoration: none;
    white-space: nowrap;
    @extend %typo;
    &:hover{
    background-color: nth($bg-color, 2);
    color: nth($bg-color, 4)}}

/*--Items Nav--*/
.nav-link-mod{
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: $texto-blanco;
    @extend %typo;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    &:hover{
        background-color: nth($bg-color, 2);
        color: nth($bg-color, 4)}}

    /*--Hero--*/
    .hero{
        background-image: url("../background/whitediamond.png");
        background-attachment: fixed;}