/* --FUENTE-- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/* --RESET-- */
*{
    margin: 0;
    padding: 0;}

/* --BODY-- */
.container-body{
    font-family: 'Poppins', sans-serif;}

/* --HEADER- */
/* --navbar- */
.nav-bg{
    background-color: nth($bg-color, 3);
    box-shadow: 10px 2px 10px 10px rgb(36 50 66);}

.nav-link-mod{
    text-decoration: none;
    display: block;
    padding: 0.4rem 0.8rem;
    color: $texto-color;
    letter-spacing: 0.2rem;
    font-size: map-get($font-size ,"medium");
    &:hover{
    background-color: nth($bg-color, 2);
    color: nth($bg-color, 4)}}

/*--Link activo--*/
.link-active{
    color: nth($bg-color, 2)}

/*--Logo--*/
.navbar-brand-mod{
    text-decoration: none;
    display: block;
    padding: 0.4rem 0.8rem;
    color: $texto-color;
    letter-spacing: 0.1rem;
    font-size: map-get($font-size , "medium");
    text-decoration: none;
    &:hover{
        background-color: nth($bg-color, 2);
        color: $texto-blanco;}}                   

    
/* -Texto en borde azul-- */

.border-blue{
    border: 4px double nth($bg-color, 2);
    padding: 3%;
    margin: 10%;
    .head-title{
    color: $texto-blanco;
    @include text-center;
    font-weight: 500;
    font-size: map-get($font-size, "plus");
    letter-spacing: 0.1rem;
    margin: 3% 0% 3% 0%;
    word-wrap:break-word;}
    .head-text{
        color: $texto-blanco;
        @include text-center;
        font-size: map-get($font-size, "medium");
        margin: 5%;
        word-wrap: break-word;}}

