/* --INDEX-- */

/* --Imagen Header--*/
.header-index{
  background-image: linear-gradient((rgba(29, 37, 80, 0.8)),rgb(18, 14, 37)), url("../images/ciudad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50rem;}

/* --Texto Header--*/
.hero-text{
  color: $texto-blanco;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.2rem;}

.hero-h{
  font-weight: 600;
  font-size: map-get($font-size, "plus");
  margin-top: 20%;}

.hero-text{
  font-weight: 400;
  font-size: map-get($font-size, "bigger");}

/* --Main--*/
.main-index{
  margin: 10% 5% 10% 5%;}

/* --Texto El Estudio y texto Global--*/
.estudio {
  margin-bottom: 5%}

.main-title{
  color: $texto-color;
  @include text-justify;
  font-size: map-get($font-size, "big")}

.main-text{
  color: $texto-color;
  @include text-justify;
  font-size: map-get($font-size, "medium");}

.line{
  display: inline-block;
  position: relative;
  margin: 5% 0 10% 0}
  
.line::before{
  content:'';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: nth($bg-color , 2)}
  
.line::before{
  bottom: -20px;}  
  
/* --Section-Cajas-- */
.section-boxes{
  margin: 10% 0 10% 0}

.row-modified{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))}  

/* --Formato Cajas-- */
.box{
  padding: 3%;
  margin: 3%;
  border-radius: 30px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(204, 201, 201, 0.1),0 0  0 2px rgb(190, 190, 190),0.3em 0.3em 1em rgba(0,0,0,0.3);}

/*--Iconos Cajas--*/
.box-icons-flex{
  @extend %column;
  margin: 2%;
  .box-icon{
    color: $texto-color;
    font-size: 48px;
    margin-bottom: 10%;
    text-align: center}}

/*--Texto Cajas--*/
.box-text{
  @include text-center;
  color: $texto-color;
  font-size: map-get($font-size, "medium");
  margin-bottom: 10%}

/* --Texto Qué nos diferencia-- */
.section-different{
  background-image: linear-gradient((rgba(29, 37, 80, 0.8)),rgb(18, 14, 37)), url("../images/novedades.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  margin-bottom: 10%;
  .title-different{
    color: $texto-blanco;
    @include text-justify;
    margin-bottom: 3%;}
  .text-different{
    color: $texto-blanco;
    @include text-justify;
    margin-bottom: 3% }}